#notebooks {
  border-top: 1px solid #2858b0;
  border-right: 2px solid #2858b0;
  background-color: #c4e0f8;
  width: 16em;
  position: absolute;
  top: 70px;
  bottom: 0px;
  padding-top: 0.25em;
}

#notebooks .row {
  padding: 0.25em 0.5em 0.25em 0.5em;
  cursor: pointer;
}

#notebooks .row.selected {
  font-weight: bold;
  color: white;
  background-color: #5090f8;
}

div.row.selected {
  text-decoration: none;
  cursor: auto;
}

#notebooks .seperator {
  background-color: #a0a8b8;
  height: 1px;
  margin: 0.25em 0px 0.25em 0px;
}

#notebook {
  position: absolute;
  left: 16.2em;
  top: 70px;
  right: 0px;
  bottom: 0px;
}

img.lock {
  margin-right: 0.5em;
  width: 16px;
  height: 16px;
}

#notebook_unencrypted {
  cursor: pointer;
}

.button {
  background: url(/images/button_small.png);
  height: 19px;
  width: 68px;
  padding-top: 4px;
  color: black;
  font-size: 12px;
  text-align: center;
  float: right;
  cursor: pointer;
  margin-left: 0.5em;
}

.button.disabled {
  color: #909090;
  cursor: auto;
  opacity: 0.5;
}
